*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F0F0F0;
}

.card{
    height: 500px;
    width: 500px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    inset: 0;
    margin: auto;
    position: fixed;
    border-radius: 10px 10px 200px 10px;
    padding: 1rem 1rem;
}

.input-field{
    display: flex;
    gap: 20px;
}


.day label{
    color: #494545;
    font-size: 12px;
    font-weight: 800;
    
}

.day input{
    width: 100px;
    margin-top: 5px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #D7D7D7;
    outline: none;
}


.day input::placeholder{
    font-weight: 900;
    font-size: 20px;
    padding-left: 1rem;
}

.month label{
    color: #494545;
    font-size: 12px;
    font-weight: 800;
    
}

.month input{
    width: 100px;
    margin-top: 5px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #D7D7D7;
    outline: none;
}

.month input::placeholder{
    font-weight: 900;
    font-size: 20px;
    padding-left: 1rem;
}

.year label{
    color: #494545;
    font-size: 12px;
    font-weight: 800;
    
}

.year input{
    width: 100px;
    margin-top: 5px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #D7D7D7;
    outline: none;
}

.year input::placeholder{
    font-weight: 900;
    font-size: 20px;
    padding-left: 1rem;
}

.years{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 20px;
}

.years p{
    font-weight: 800;
    font-size: 30px;
    color: #864CFF;
    font-family: cursive;
}

.years h1{
    font-weight: 800;
    font-size: 40px;
    font-family: cursive;
    color: black;
}

.months{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 20px;
}

.months p{
    font-weight: 800;
    font-size: 30px;
    color: #864CFF;
    font-family: cursive;
}
.months h1{
    font-weight: 800;
    font-size: 40px;
    font-family: cursive;
    color: black;
}

.days{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 20px;
}

.days p{
    font-weight: 800;
    font-size: 30px;
    color: #864CFF;
    font-family: cursive;
}

.days h1{
    font-weight: 800;
    font-size: 40px;
    font-family: cursive;
    color: black;
}

.input-field button{
    height: 50px;
    width: 50px;
    margin-top: 1.2rem;
    background-color: #864CFF;
    outline: none;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 800;
    font-family: cursive;
    border-radius: 50%;
    cursor: pointer;
}

.error{
    color: red;
}